body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .faq-section {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 lightblue;
        }
        .faq-section h1 {
            text-align: center;
            color: #333;
        }
        .faq {
            margin-top: 20px;
        }
        .faq input {
            display: none;
        }
        .faq label {
            cursor: pointer;
            padding: 10px;
            background-color: #007BFF;
            color: #fff;
            margin: 0;
            border: 1px solid #007BFF;
            display: block;
        }
        .faq .content {
            max-height: 0;
            overflow: scroll;
            padding: 0 10px;
            border: 1px solid #007BFF;
            border-top: none;
        }
        .faq input:checked ~ .content {
            max-height: 100px;
            padding: 10px;
        }
		
