
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
			background-color:lightblue;
        }

        h1 {
            text-align: center;
			color:red;
			font-size:80px;
        }

        #troubleshooting {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 50px;
			background-color:#21CC0F;
        }
		#contact {
			background-color:white;
			 border-radius: 50px;
			 padding: 20px;
		}
		.colour {
			color:black;
		}