.section-title {
	text-align:center;
	color:red;
	font-size:70px;
}

.section-para {
	text-align:justify;
	font-size:25px;
	font-family:times new roman;
}
body {
	background-color:#66CC99;
}

.list {
	text-align:center;
	font-size:40px;
	font-weight:100px;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: justify;
  background: #C6FFDD;  
 background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  
 background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); 

}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
