

.menubar {
	width: 100%;
  overflow: auto;
  background-color: green;
  text-align:center;
  color:white;
  font-size:40px;
  height:90px;
}

.menubar a{
	color:white;
}

.menubar a:hover{
	color:orange;
}


